
<div class="center" >

<% @types.each do |type| %>

  <%= link_to type.name, type_categories_path(type_id: type.id),class: "btn btn-primary btn-lg ", role: "button" %>
<div class="divider"></div>

<% end %>
</div>
