<% binding.pry %>

<div class=button-wrap>

  <%# <% @categories.each do |category| %>
   <% @categories.each do |category| %>
   <% binding.pry %>
  <li><%= link_to category.name , type_categories_path  %></li>

  <% end %>


</div>
