

<div class="center">

  <%# <% @categories.each do |category| %>
   <% @categories.each do |category| %>

  <%= link_to category.name , type_category_items_path(category_id: category.id),class: "btn btn-primary btn-lg ", role: "button"  %>
  <div class="divider"></div>

  <% end %>
</div>
