
<div class=button-wrap>
  <% binding.pry %>

  <%# <% @current_category.each do |category| %>
   <% @subcategories.each do |category| %> 

  <li><%= link_to category.name , category_path(category)  %></li>

  <% end %>
</div>
